.thingdown-tag {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  position: absolute;
  right: 0;
  top: 200px;
  color: white;
  transition: all 0.5s;
}

.thingdown-tag:hover {
  width: 100px;
}

.td-modal {
  box-sizing: border-box;
  height: 400px;
  width: 500px;
  position: absolute;
  right: 50px;
  top: 300px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 45px 0px rgba(143, 143, 143, 1);
  -moz-box-shadow: 0px 0px 45px 0px rgba(143, 143, 143, 1);
  box-shadow: 0px 0px 45px 0px rgba(143, 143, 143, 1);
}